@use "sass:map";
@import "../../../styles/pages/theme";
.product_detail_head{
    padding-bottom: 40px;
    border-bottom: 1px solid #000000;
}
.product_detail_pic {
    padding: 30px;
    display: flex;
    column-gap: 10px;

    img {
        width: 60%;
        object-fit: cover;
    }

    .main {
        flex: 0 0 35%;
        display: grid;
        align-items: stretch;

        img {
            width: 60%;
            object-fit: cover;

            &:not(:first-child) {
                padding-top: 5px;
                ;
            }
        }
    }
}

.product_detail_text {
    h2 {
        color: #252525;
        font-weight: 700;
    }

    .seen-icon {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 30px;
        column-gap: 5px;
    }
    p{
        margin: 10px 0;
        line-height: 25px;
    }
    ul{
        margin: 20px 0;
        border-top: 1px solid #eee;
        padding-top: 20px ;
        padding-left: 0;
        li{
            list-style: none;
            display: flex;
            column-gap: 20px;
            line-height: 35px;
            b{
                width: 150px;
            }
            span{
                display: flex;
                column-gap: 10px;
                align-items: center;
                svg{
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}
.product_detail_tab{
    margin: 20px 0;
    h4{
        position: relative;
        margin-bottom: 20px;
    }
}