body {
    margin: 0;
    padding: 0;
}

button.slick-next {
    right: 80px;
    z-index: 10;
}

button.slick-left {
    left: 20px;
    z-index: 10;
}

button.slick-next::before {
    color: gray;
    content: '\276F';
    width: 80px;
    height: 80px;
    background-color: white;
    font-size: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.slick-prev::before {
    color: gray;
    content: '\276F';
    width: 80px;
    height: 80px;
    background-color: white;
    font-size: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." */
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
