body {
    margin: 0;
    padding: 0;
}
button.slick-next{
    right: 80px;
    z-index: 10;
}
button.slick-left{
    left: 20px;
    z-index: 10;
}
button.slick-next::before{
    color: gray;
    content: '\276F';
    width: 80px;
    height: 80px;
    background-color: white;
    font-size: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.slick-prev::before{
    color: gray;
    content: '\276F';
    width: 80px;
    height: 80px;
    background-color: white;
    font-size: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Giới hạn số dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị dấu "..." */
  }