@use "sass:map";
@import "../../../../styles/pages/theme";

.admin_header {
    background: white;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;

    &_nav {
        height: 100px;
        display: flex;
        gap: 16px;
        align-items: center;

        &-item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 24px;
            color: map.get($theme-color,"normal-text");
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            transition: all 0.2 ease;
            border-radius: 6px;
            cursor: pointer;
            &:hover{
                background: #3182ce14;
                color: map.get($theme-color,"main");
            }
            &--active{
                background: #3182ce14;
                color: map.get($theme-color,"main");
            }
        }
        &-icon{
            display: flex;
            align-items: center;
        }
    }
}