.chat_form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;

    input {
        margin-right: 30px;
        flex: 1;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.chat_messages {
    list-style: none;
    min-width: 200px;
    min-height: 200px;
    padding: 0;
    border: 1px solid lightgray;

    li {
        padding: 5px;
        margin-bottom: 5px;
        background: #f1f1f1;
        border-radius: 5px;
    }
}

.chatbot_container {
    width: 80%;
    padding: 30px;
}