.navigation_container {
    width: 1220px;
    height: 40px;
    padding: 8px 0 8px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 32px;

    &_items {
        padding-right: 48px;
        text-decoration: none;
        color: black;

        &:hover {
            color: red;
        }

        &_active {
            padding-right: 48px;
            text-decoration: none;
            color: red;
        }
    }

}