.product_container{
    width: 100%;
    font-size: 16px;
    padding: 0 10px 0 10px;
}
.product_image{
    width: 243px;
    object-fit: cover;
    height: 243px;
}
.product_info{
    display: flex;
    flex-direction: column;
    gap:8px;   
}
.product_group{
    width: 100%;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}
.product_title{
    display: flex;
    flex-direction: column;
    gap:4px;
    margin-top: 15px;
    align-items: start;
    width: 100%;

}
.product_image_group{
    width: 100%;
    position: relative;

}
.product_blank_1{
    position: absolute;
    top:-32px;
    left: -42px;
    width: 100px;
    height: 35px;
    object-fit: cover;
}
.product_blank_2{
    position: absolute;
    top:-39px;
    left: -50px;
    width: 150px;
    height: 35px;
    object-fit: contain;
}
.product_blank_kind{
    position: absolute;
    top:-15px;
    left: -12px;
    font-weight: bold;
    color: white;
}
.product_star{
    display: flex;
    height: 16px;
}
.product_option{
    position: absolute;
    bottom: -10px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    gap:8px;
}
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-top {
    0% {
      transform: translateY(40px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }