.public_container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &_outlet{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}