.sidebar_container {
    display: flex;
    flex-direction: column;

    &_items {
        background-color: red;
        color: white;
        padding: 15px 5px 14px 5px;
        font-size: 14px;

        &:hover {
            color: red;
        }

        &_active {
            padding: 15px 5px 14px 5px;
            font-size: 14px;
            color: red;
            &:hover {
                color: red;
            }
        }
    }
}