.topHeader_container{
    height: 38px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    &_group{
        width: 1220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        color: white;
    }
    &_login{
        text-decoration: none;
        &:hover{
            color: gray;
        }
    }
}